<!-- Include header -->
<%- include('./partials/header') %>

    <div class="container">
        <label for="nombre">
            ¿Cuál es tu nombre?
            <input type="text" id="nombre" name="nombre" required>
            <button>
                <!-- Icon from fontawesome -->
                Continuar
            </button>
        </label>

    </div>


<style>
</style>    
    <!-- Include footer -->
    <%- include('./partials/footer') %>